@use "../../styles/partials/displayFlexbox" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/headerOverlay" as *;

.featured-products {
  background-color: $card-background-color;
  margin: 0 $mobile-inline-margin 1rem;
  padding-top: 2rem;
  @include headerOverlay(false);

  &__wrapper {
    @include flexbox(column, flex-start, center, 0, nowrap);
    overflow-x: auto;
    padding: 0 2rem 2rem;
  }

  &__title {
    text-align: start;
    margin-left: $mobile-inline-margin;
    font-family: $body-font-family;
    font-weight: 200;
    font-size: 1.85rem;
    color: rgb(109, 97, 97);
  }

  &__cards {
    margin-top: 1.5rem;
    @include flexbox(row, center, center, 1rem, nowrap);
  }
}
