@use "../../styles/partials/variables" as *;
@use "../../styles/partials/displayFlexbox" as *;

// next two classes are used to determine the top margin depending on the page
// that the Button component is been used.

.mobile-slide-menu {
  margin: 2rem 0 0;

  &:hover {
    margin-top: 2.05rem;
    box-shadow: none;
  }
}

.signup-btn {
  position: absolute;
  width: calc(100vw - 5 * $mobile-inline-margin);
  height: 2rem;
  border-radius: 10px;
  border: 1px solid $button-border-color;
  font-size: $mobile-p2-size;
  background-color: $menu-signup-btn-color;
  color: $light-font-color;
  box-shadow: 0 0.05rem 0 0 $overlay-color;
  @include flexbox(row, center, center, 0, nowrap);

  &:active {
    box-shadow: inset 2px 0.2rem 0.3rem 0 $overlay-color;
  }
}

.sign-up-page {
  width: calc(100vw - 6 * $mobile-inline-margin);
  margin: 1rem 0 0 1rem;

  &:hover {
    margin-top: 1.05rem;
    box-shadow: none;
  }
}
