@use "./typography" as *;

// Sass variables used to store information that will be reused throughout the project.

// ==== COLORS
// typography colors
$heading-color: #2b2b2b;
$paragraph-color: #2b2b2b;
$anchor-color: #2b2b2b;
$anchor-hover-color: #e7a706;
$light-font-color: whitesmoke;

// background colors
$background-color: #141414;
$card-background-color: whitesmoke;
$overlay-color: rgba(0, 0, 0, 0.3);
$header-background-color: white;
$default-box-shadow: 0px 2px 5px 0px #13182c1a;

// form colors
$form-border-color: #cb6d61e4;
$form-fill-color: #f1ecece9;
$form-label-color: #cc9224;
$form-sign-color: #78958a;
$form-divider-color: #78958a51;
$placeholder-color: #b3afaf;

// button colors
$button-border-color: #194a01fc;
$button-background-color: #328c04fc;

// suport colors
$green: #158463;
$dark-green: #0c5842;
$red: #c94515;
$dark-red: #a23710;

// mobile slide menu colors
$menu-heading-color: white;
$menu-burger-color: #e7a706;
$menu-burger-border-color: #373a47;
$menu-signup-btn-color: #e7a706;
$menu-background-color: #373a47;
$menu-background-img-url: url("../../assets/ilustrations/Transhumans\ -\ Plants.png");

// ==== CENTERING ELEMENT VALUES
$mobile-inline-margin: 1rem;
$tablet-inline-margin: 2rem;
$dextop-inline-margin: auto;
$desktop-max-width: 1020px;

// ==== TYPOGRAPHY
$heading-font-family: "Young Serif", serif;
$body-font-family: "Montserrat", sans-serif;
$price-tag-font-family: "Permanent Marker", cursive;
$price-tag-price-font-family: "Shadows Into Light", cursive;

// mobile
$menu-link-font-size: 1.125rem; // 18px
$mobile-h1-size: 1.75rem; // 28px
$mobile-h1-line-height: 2.25rem; // 36px
$mobile-h2-size: 1.25rem; // 20px
$mobile-h2-line-height: 1.75rem; // 28px
$mobile-h3-size: 0.9375rem; // 15px
$mobile-h3-line-height: 1.25rem; // 20px
$mobile-h4-size: 0.0081rem; // 13px
$mobile-h4-line-height: 1rem; // 16px
$mobile-p1-size: 0.9375rem; // 15px
$mobile-p1-line-height: 1.625rem; // 26px
$mobile-p2-size: 0.8125rem; // 13px
$mobile-p2-line-height: 1.25rem; // 20px
$mobile-p3-size: 0.6875rem; // 11px
$mobile-p3-line-height: 1rem; // 16px

// desktop and tablet
$desktop-h1-size: 2.5rem; // 40px
$desktop-h1-line-height: 2.5rem; // 40px
$desktop-h2-size: 1.5rem; // 24px
$desktop-h2-line-height: 2rem; // 32px
$desktop-h3-size: 0.875rem; // 14px
$desktop-h3-line-height: 1.375rem; // 22px
$desktop-h4-size: 0.0075rem; // 12px
$desktop-h4-line-height: 1.125rem; // 18px
$desktop-p1-size: 1rem; // 16px
$desktop-p1-line-height: 1.75rem; // 28px
$desktop-p2-size: 0.875rem; // 14px
$desktop-p2-line-height: 1.375rem; // 22px
$desktop-p3-size: 0.75rem; // 12px
$desktop-p3-line-height: 1.125rem; // 18px
