@use "../../styles/partials/mobileMenu" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/displayFlexbox" as *;
@use "../../styles/partials/variables" as *;

.signup-component {
  position: relative;
  background-color: $card-background-color;
  margin: 2rem $mobile-inline-margin;
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: $default-box-shadow;
  @include largeMobileScreen {
    background-image: url("../../assets/ilustrations/Transhumans - Chillin.png");
    background-repeat: no-repeat;
    background-size: 9.5rem;
    background-position-x: right;
    background-position-y: center;
  }

  &__signin-link {
    margin-top: 4rem;
    margin-inline: $mobile-inline-margin;
    text-align: center;

    a {
      color: $anchor-hover-color;
      font-size: $mobile-p1-size;
      font-weight: 600;
    }
  }
}

.signup {
  &__title {
    text-align: center;
    font-family: $heading-font-family;
    font-size: $mobile-h1-size;
    line-height: $mobile-h1-line-height;
    color: #92911d;
    border-bottom: 1px solid #13182c1a;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
}
