@use "../../styles/partials/displayFlexbox" as *;
@use "../../styles/partials/variables" as *;

// https://react-slideshow-image.netlify.app/?path=/story/introduction--page
.slide-deck {
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flexbox(column, center, center, 0, nowrap);
    background-color: #00000060;
    z-index: 1;
  }

  &__text-overlay {
    color: $light-font-color;
    position: absolute;
    bottom: 15%;
    left: 15%;
    z-index: 2;
    font-size: 30px;
  }
}

.each-slide-effect > div {
  width: 100vw;
  height: 30vh;

  img {
    width: 100%;
  }
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
