@use "./styles/partials/reset";
@use "./styles/partials/displayFlexbox" as *;

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
